In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [4]:
# Load in file
# Store filepath in a variable

citibike_tripdata_2022_csv = Path("Resources/JC-202207-citbike-tripdata.csv")

citibike_tripdata_2023_csv = Path("Resources/JC-202307-citibike-tripdata.csv")

In [5]:
# Read titles and credits data file and store into Pandas DataFrames
citibike_tripdata_2022_df = pd.read_csv(citibike_tripdata_2022_csv)

citibike_tripdata_2023_df = pd.read_csv(citibike_tripdata_2023_csv)

In [7]:
citibike_tripdata_2022_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual

In [8]:
citibike_tripdata_2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108502 entries, 0 to 108501
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             108502 non-null  object
 1   rideable_type       108502 non-null  object
 2   started_at          108502 non-null  object
 3   ended_at            108502 non-null  object
 4   start_station_name  108502 non-null  object
 5   start_station_id    108502 non-null  object
 6   end_station_name    108115 non-null  object
 7   end_station_id      108115 non-null  object
 8   start_lat           108502 non-null  float64
 9   start_lng           108502 non-null  float64
 10  end_lat             108182 non-null  float64
 11  end_lng             108182 non-null  float64
 12  member_casual       108502 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.8+ MB

In [9]:
# Convert the 'started_at' and 'ended_at column to datetime format

citibike_tripdata_2022_df['started_at'] = pd.to_datetime(citibike_tripdata_2022_df['started_at'], errors = 'coerce')

citibike_tripdata_2022_df['ended_at'] =  pd.to_datetime(citibike_tripdata_2022_df['ended_at'], errors = 'coerce')

In [11]:
citibike_tripdata_2022_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [14]:
#count the number of missing values in each column of citibike_tripdata_2022_df
citibike_tripdata_2022_df.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      387
end_station_id        387
start_lat               0
start_lng               0
end_lat               320
end_lng               320
member_casual           0
dtype: int64

In [15]:
# Fill missing values in the 'end_station_name' and 'end_station_id' column

citibike_tripdata_2022_df['end_station_name'].fillna('Unknown Station', inplace=True)

citibike_tripdata_2022_df['end_station_id'].fillna('Unknown', inplace = True)

In [16]:
# Remove rows with misiing values
cleaned_citibike_tripdata_2022_df = citibike_tripdata_2022_df.dropna(subset=['end_lat', 'end_lng'])

In [17]:
cleaned_citibike_tripdata_2022_df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [18]:
citibike_tripdata_2023_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,2023-07-17 17:16:34,2023-07-17 17:20:52,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,2023-07-26 19:40:15,2023-07-26 19:44:37,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,2023-07-01 12:12:22,2023-07-01 12:27:45,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,2023-07-20 19:10:18,2023-07-20 19:17:22,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,2023-07-07 19:33:59,2023-07-07 19:58:17,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual

In [20]:
citibike_tripdata_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106608 entries, 0 to 106607
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106608 non-null  object
 1   rideable_type       106608 non-null  object
 2   started_at          106608 non-null  object
 3   ended_at            106608 non-null  object
 4   start_station_name  106601 non-null  object
 5   start_station_id    106601 non-null  object
 6   end_station_name    106216 non-null  object
 7   end_station_id      106216 non-null  object
 8   start_lat           106608 non-null  float64
 9   start_lng           106608 non-null  float64
 10  end_lat             106486 non-null  float64
 11  end_lng             106486 non-null  float64
 12  member_casual       106608 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.6+ MB

In [21]:
# Convert the 'started_at' and 'ended_at column to datetime format

citibike_tripdata_2023_df['started_at'] = pd.to_datetime(citibike_tripdata_2023_df['started_at'], errors = 'coerce')

citibike_tripdata_2023_df['ended_at'] = pd.to_datetime(citibike_tripdata_2023_df['ended_at'], errors = 'coerce')

In [22]:
citibike_tripdata_2023_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [23]:
#count the number of missing values in each column of citibike_tripdata_2023_df
citibike_tripdata_2023_df.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      7
start_station_id        7
end_station_name      392
end_station_id        392
start_lat               0
start_lng               0
end_lat               122
end_lng               122
member_casual           0
dtype: int64

In [24]:
# Fill missing values in the 'start_station_name' and 'start_station_id' column

citibike_tripdata_2023_df['start_station_name'].fillna('Unknown Station', inplace = True)

citibike_tripdata_2023_df['start_station_id'].fillna('Unknown', inplace = True)

# Fill missing values in the 'end_station_name' and 'end_station_id' column

citibike_tripdata_2023_df['end_station_name'].fillna('Unknown Station', inplace=True)

citibike_tripdata_2023_df['end_station_id'].fillna('Unknown', inplace = True)

In [25]:
# Remove rows with misiing values
cleaned_citibike_tripdata_2023_df = citibike_tripdata_2023_df.dropna(subset=['end_lat', 'end_lng'])

In [37]:
cleaned_citibike_tripdata_2023_df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [29]:
# Combine the cleaned dataframes for 2022 and 2023 into a single dataframe
frames = [cleaned_citibike_tripdata_2022_df, cleaned_citibike_tripdata_2023_df]

# Concatenate the dataframes in the 'frames' list, and reset the index for the combined dataframe
combined_citibike_tripdata_df = pd.concat(frames, ignore_index=True)

In [31]:
combined_citibike_tripdata_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual

In [32]:
combined_citibike_tripdata_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [33]:
combined_citibike_tripdata_df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [44]:
# Calculate the number of duplicate rows in the dataframe
number_of_duplicates = combined_citibike_tripdata_df.duplicated().sum()

# Print the number of duplicate rows
print(f"There are {number_of_duplicates} duplicate rows in the dataframe.")

There are 0 duplicate rows in the dataframe.

In [46]:
# Count rows and columns 
combined_citibike_tripdata_df.shape

(214668, 13)

In [45]:
# Save the combined dataframe to a CSV file
combined_citibike_tripdata_df.to_csv('Resources/combined_citibike_tripdata.csv', index = False)